Hello {{ name }},

A new post has been published in {{ blog_name }}.

<4>{{ post_title }}</h4>
{{ excerpt }}

{{ read_more_link }}

If you have received this by mistake, you can safely ignore this email.